<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Spaces</title>
    <link rel="stylesheet" type="text/css" href="../style.css">
    <link rel="stylesheet" type="text/css" href="https://unpkg.com/@atlassian/aui@8.6.0/dist/aui/aui-prototyping.css"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sinon.js/1.15.4/sinon.js"></script>
    <script src="https://unpkg.com/@atlassian/aui@8.6.0/dist/aui/aui-prototyping.js"></script>
</head>
<body>
<nav class="nav">
    <div class="nav-elem"><a href="/static">Home</a></div>
    <div class="nav-elem"><a href="/spaces">Spaces</a></div>
    <div class="nav-elem"><a href="/pages/all">Pages</a></div>
    <div class="nav-elem"><a href="/blogs">Blogs</a></div>
    <div class="nav-elem"><a href="/comments">Comments</a></div>
    <div class="nav-elem"><a href="/profile">Profile</a></div>
</nav>
    <div class="root">
        <h2>Spaces</h2>
        <div class="spaces" id="spaces"></div>
        <div th:each="space : ${spaces}">
            <div>
        <!--                @{/order/{orderId}/details(orderId=${orderId})}-->
                <p><a href="" th:href="@{/spaces/{spaceKey}(spaceKey=${space.spaceKey})}" th:text="${space.title}"></a></p>
            </div>
        </div>
    </div>

<script type="text/javascript">
    const root = document.querySelector('.root');
    const spacesDiv = document.querySelector('#spaces');

</script>

</body>
</html>