<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Blogs</title>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
<nav class="nav">
    <div class="nav-elem"><a href="/">Home</a></div>
    <div class="nav-elem"><a href="/spaces">Spaces</a></div>
    <div class="nav-elem"><a href="/pages">Pages</a></div>
    <div class="nav-elem"><a href="/blogs">Blogs</a></div>
    <div class="nav-elem"><a href="/profile">Profile</a></div>
</nav>
    <h2>Blogs</h2>
    <div class="root"></div>

</body>
</html>