<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Page</title>
    <link rel="stylesheet" href="../style.css">
</head>
<body>
<nav class="nav">
    <div class="nav-elem"><a href="/">Home</a></div>
    <div class="nav-elem"><a href="/spaces">Spaces</a></div>
    <div class="nav-elem"><a href="/pages/all">Pages</a></div>
    <div class="nav-elem"><a href="/blogs">Blogs</a></div>
    <div class="nav-elem"><a href="/comments">Comments</a></div>
    <div class="nav-elem"><a href="/profile">Profile</a></div>
</nav>
    <h2>Comments</h2>
    <div class="root">
        <th:block>
            <div class="comments-root" th:each="c : ${comments}">
                <div class="page">
                    <p>
                        <a th:href="@{'/comment/' + ${c.parentId} + '/' + ${c.id} }" th:text="${c.body}">
                        </a>
                    </p>
                </div>
            </div>
        </th:block>
    </div>

</body>
</html>