<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit Page</title>
    <script src="https://cdn.tiny.cloud/1/rrd8a74ls6cc8altyftsg1x991f52ycgwop59fezyu9oa3qn/tinymce/6/tinymce.min.js"
            referrerpolicy="origin">
    </script>
    <style>
        .page-title {
            font-size: 2rem;
        }
    </style>
    <link rel="stylesheet" href="../style.css">
</head>
<body>

<div>
    <input class="page-title" type="text" name="page-title" id="page-title" th:value="${page.title}">
</div>
<textarea id="default-editor">
        <p th:text="${page.body}">   </p>
    </textarea>
<button class="button" id="save-changes">Save</button>
<button class="button" id="cancel-changes">Close</button>

<script>
    const pageId = Number.parseInt(location.pathname.replace("/editpage/", ""));
    tinymce.init({
        selector: 'textarea',
        plugins: 'advlist autolink lists link image charmap preview anchor pagebreak',
        toolbar_mode: 'floating',
        plugins: 'save table lists image media',
        toolbar: 'save table',
        save_onsavecallback: (e) => {
            const pageTitle = document.querySelector('#page-title').value;
            let cnt = e.getContent();
            const requestOptions = {
                method: 'PUT',
                headers: { 'Content-Type': 'application/json' },
                body: JSON.stringify({body: cnt, title: pageTitle})
            };
            fetch(`/rest/api/pages/${pageId}`, requestOptions)
                .then(res => res.json())
                .then(res => console.info(res))
        }
    });
    // const btn = document.querySelector("#save-changes");
    // btn.addEventListener('click', evt => {
    //     evt.preventDefault();
    // let content = document.querySelector('textarea').innerHTML;
    // });
</script>
<script>
    const closeBtn = document.querySelector('#cancel-changes');
    closeBtn.addEventListener('click', evt => {
       evt.preventDefault();
       window.location.href = `/viewpage?pageId=${pageId}`
    });
</script>
</body>
</html>