<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Page</title>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
<nav class="nav">
    <div class="nav-elem"><a href="/">Home</a></div>
    <div class="nav-elem"><a href="/spaces">Spaces</a></div>
    <div class="nav-elem"><a href="/pages/all">Pages</a></div>
    <div class="nav-elem"><a href="/blogs">Blogs</a></div>
    <div class="nav-elem"><a href="/comments">Comments</a></div>
    <div class="nav-elem"><a href="/profile">Profile</a></div>
</nav>
<h2 th:text="${page.title}"></h2>
<!--    <div th:text="${page.body}"></div>-->
<button id="edit-page" class="button">Edit</button>
<div class="root">


</div>

<div class="comments">
    <th:block>
        <div class="comment" th:each="c : ${comments}">
            <div>
                <p th:text="${c.createdAt}"></p>
                <p th:text="${c.lastEdited}"></p>
            </div>
            <div>
                <p th:text="${c.body}"></p>
            </div>
        </div>
    </th:block>
</div>

<script th:inline="javascript">
    const pageId = [[${page.id}]]
    const root = document.querySelector('.root');
    root.innerHTML = [[${page.body}]]
</script>
<script>
    const editBtn = document.querySelector('#edit-page');
    editBtn.addEventListener('click', evt => {
        evt.preventDefault();
        window.location.href = `editpage/${pageId}`;
    });
</script>
</body>
</html>